footer {
    background-color: #04203c;
    text-align: center;
    height: var(--footer-height);
}
.footer-detail {
    padding: 10px 0;
    /* font-size: 14pt; */
    font-weight: bold;
    color: #ECEFF1;
}
.social-container {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}
.social-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #B0BEC5;
    /* margin: 0 10px; */
    outline-width: 1px;
    /* border-width: 1px; */
    padding: 2px;
    margin: 4px;
    /* margin-right: 5px; */
    /* transition: 0.3s; */
}
.social-container span {
    padding-left: 5px;
    padding-right: 5px;
}
.social-outline {
    font-size: 30px;
}
.social-container a:hover {
    /* border-style: dashed; */
    outline-style: dashed;
    font-weight: bold;

}
.facebook:hover{
    color: #0866ff;
}
a:hover .fb {
    border-radius: 100%;
    background-color: #ECEFF1;
}
.youtube:hover {
    color: #ff0000;
}
.whatsapp:hover {
    color: #25D366;
}
.email:hover {
    color: #38d6fe;
}