footer {
    background-color: #29304a;
    text-align: center;
    height: var(--footer-height);
}
.footer-detail {
    padding: 10px 0;
    /* font-size: 14pt; */
    font-weight: bold;
    color: #f9f9f9;
}

/* =========== social ================= */
.social-container {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}
.social-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #B0BEC5;
    padding: 2px 5px;
    margin: 0 4px;
}
.social-container a:hover {
    outline-width: 1px;
    outline-style: dashed;
}
.social-outline {
    font-size: 25px;
}
.social-container span {
    padding-left: 5px;
    padding-right: 5px;
}
.facebook:hover{
    color: #0866ff;
}
/* a:hover .fb {
    border-radius: 100%;
    background-color: #ECEFF1;
} */
.youtube:hover {
    color: #ff0000;
}
.whatsapp:hover {
    color: #25D366;
}
.email:hover {
    color: #38d6fe;
}